.Grid {
  width: 90%;
  max-width: 1240px;
  margin: 0 auto;
  
  display: grid;
  
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.Text {
  margin: auto;
  text-align: center;
  color: grey;
}

@media only screen and (min-width: 500px) {
  .Grid {
    grid-template-columns: 1fr 1fr;
  }  
}

@media only screen and (min-width: 850px) {
  .Grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}