.SearchPass {
  margin: auto;
}

.SearchPass form {
  text-align: center;
}

.SearchPass Input {
  width: 80%;
  margin-top: -20px;
  margin-bottom: 20px;
}

.Input {
  text-align: center;
}

@media (min-width: 635px) {
  .SearchPass Input {
    width: 40%;
    margin-bottom: 20px;
  }
}