.PasswordDetail {
  text-align: center;
  width: 80%;
  margin: auto;
}

.Line {
  border: none;
  margin: -10px;
}

.Line:after {
  content: '***';
  display: block;
  text-align: center;
}